----------------------------------------
const rl = require("node:readline")
const dns = require("node:dns")


const prompt = rl.createInterface({
    input: process.stdin,
    output: process.stdout
})

const promptPromises = {
    question: (pergunta) => new Promise((resolve, reject) => {
        try {
            prompt.question((pergunta), (resposta) => resolve(resposta))
        } catch (error) {
            reject(error)
        }
    }),

    close: () => prompt.close()
}

async function askUsers () {
    
    const urlSearch = await promptPromises.question("Qual o dns? ")    

    async function bootstrap() {
        const addresses = await dns.promises.resolve4(urlSearch)
        console.log(addresses)
    
        const nameServers = await dns.promises.resolveNs(urlSearch)
        console.log(nameServers)
    }

    const result = await bootstrap()
    console.log(bootstrap)

    prompt.close()
}

askUsers()
--------------------------------------------